html {
  font-size: 62.5%;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: hsl(229, 6%, 66%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 98vh;
}
header {
  max-width: 50rem;
  text-align: center;
}
.thin-h1 {
  font-weight: 200;
}
h1,
h2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0.5rem;
}

main {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.element {
  border-radius: 1.5rem;
  min-width: 35rem;
  height: 25rem;
  margin: 1.5rem;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 10px 20px;
  overflow: hidden;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
}

.l1 {
  background-color: hsl(180, 62%, 55%);
}
.l2 {
  background-color: hsl(0, 78%, 62%);
}
.l3 {
  background-color: hsl(34, 97%, 64%);
}
.l4 {
  background-color: hsl(212, 86%, 64%);
}
.element img {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
.srednji {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner {
  padding-bottom: 1rem;
  width: 30rem;
}

@media only screen and (max-width: 1240px) {
  main {
    flex-direction: column;
  }
}
